# All PDF files except the university logo
*.pdf
!/img/logo-en.pdf

# All SyncTeX files
*.synctex.gz

# Validation Script
/validation/verapdf

# Auxiliary presentation files
/slides/*.nav
/slides/*.snm